@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
	will-change: scroll-position;
}

body {
	background: #fffef9;
}

.hover-link {
	position: relative;
	background-color: transparent;
}

.hover-link:hover::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 30px;
	height: 100%;
	width: 100%;
	background-color: #ff914d;
	z-index: -1;
	animation: button 0.3s ease-in-out;
}

@keyframes button {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}
/* :root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
} */

/* body {
	color: #fffef9;
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
} */
